node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
# Android
android/.gradle
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.iml
.idea/
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/

# OS / Misc
.env*.local
.env
.DS_Store
Thumbs.db

# Testing / Build
coverage/
dist/
web-build/
.next/
*.jsbundle
*.bundle
*.bundle.map
