# Denotes that we want auto-detection of text files
* text=auto

# Force LF line endings for all source and configuration files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.d.ts text eol=lf
*.json text eol=lf
*.kt text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.gradle text eol=lf
*.rb text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.easignore text eol=lf
