node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.eslintcache
*.tsbuildinfo

# Turbo
.turbo/

# Security / Secrets
*.pem
*.cer
*.p12
*.jks
*.keystore
*.key
!debug.keystore

# Firebase
*-firebase-adminsdk-*.json
*serviceAccount*.json
firebase-export-*

# Android
**/android/.gradle
**/android/build/
**/android/app/build/
**/android/app/.cxx/
**/android/.cxx/
**/android/local.properties
*.iml
.idea/
*.apk
*.aab

# iOS
**/ios/Pods/
**/ios/build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/ios/*.xcworkspace/xcuserdata/

# OS / Misc
.env*.local
.env
.DS_Store
Thumbs.db

# Testing / Build
coverage/
web-build/
.next/
*.jsbundle
*.bundle
*.bundle.map
